
# Impedir que se pueda ver el listado de contenidos de un directorio
Options All -Indexes
# Url Amigables
Options +FollowSymLinks
RewriteEngine On
ErrorDocument 404 http://localhost/mulata.fit/404
#ErrorDocument 404 https://mulata.fit/404
#RewriteCond %{HTTPS}  !=on 
#RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L] 

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html
 

RewriteRule ^([-a-zA-Z0-9_/]+)$ index.php?ruta=$1
