.navbar .breadcrumb .breadcrumb-item a {
@media screen and (max-width:566px){
    font-size: .9rem;
}
    
}
.bg-light-footer{
    background: linear-gradient(18deg, #009688 0%, #017167 93% 45%) !important;
    color: white !important ;
  }

